@use '~/components/GlobalStyles/GlobalStyles.module.scss';

.wrapper {
  .container {
    border: 0.5rem solid GlobalStyles.$border-color;
    border-radius: 0.5rem;
    padding: 3rem 2.8rem;
    .header {
      h2 {
        font-family: GlobalStyles.$heading-text;
        color: GlobalStyles.$heading-text-color;
        text-transform: uppercase;
      }
    }
    .body {
      table {
        width: 100%;
        thead,
        tbody,
        tfoot {
          tr {
            text-transform: capitalize;
            th {
              padding: 1.8rem 0;
              font-size: 1.8rem;
              font-weight: 500;
              color: GlobalStyles.$heading-text-color;
              border-bottom: 0.1rem solid GlobalStyles.$border-color;
              &:nth-child(1) {
                text-align: left;
              }
              &:nth-child(2) {
                text-align: right;
              }
            }
            td {
              padding: 1.8rem 0;
              font-size: 1.4rem;
              color: GlobalStyles.$content-text-color;
              border-bottom: 0.1rem solid GlobalStyles.$border-color;
              &:nth-child(1) {
                text-align: left;
              }
              &:nth-child(2) {
                text-align: right;
              }
            }
            .total_price{
              font-size: 2.4rem;
              font-weight: 600;
              color: GlobalStyles.$primary;
            }
          }
        }
      }
    }
    .footer {
    }
  }
}
