@import '../../index.module.scss';

.wrapper {
  .container {
    border: 0.1rem solid #ccc;
    display: inline-block;
    button,
    span {
      color: $heading-text-color;
      padding: 1rem 1.5rem;
    }
    button {
      background-color: transparent;
      border: none;
      outline: none;
      &:hover {
        background-color: $primary;
      }
    }
    span {
      font-weight: 600;
    }
  }
}
