@use '~/components/GlobalStyles/GlobalStyles.module.scss';

@include GlobalStyles.keyframes(hover) {
  from {
    box-shadow: inset 0 0 0 0.01px GlobalStyles.$primary_hover;
  }
  to {
    box-shadow: inset 20rem 0 0 0.01px GlobalStyles.$primary_hover;
    color: #fff;
  }
}

@include GlobalStyles.keyframes(scaleUp) {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.btn {
  display: inline-block;
  background-color: #fff;
  color: GlobalStyles.$heading-text-color;
  text-transform: uppercase;
  border: none;
  border-radius: 0.3rem;
  transform: skew(-10deg);
  text-align: center;
  &:hover {
  }
  span {
    display: inline;
    transform: skew(10deg);
  }
}

.action_btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
  &::after {
    content: ' ';
    width: 0%;
    height: 100%;
    background: GlobalStyles.$primary;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  &:hover {
    &::after {
      right: auto;
      left: 0;
      width: 100%;
    }
    span {
      color: #fff;
      @include GlobalStyles.animation('scaleUp 0.3 ease-in-out');
    }
  }
  span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    z-index: 1;
    color: GlobalStyles.$heading-text-color;
    transition: all 0.3s ease-in-out;
  }
}

.static_btn {
  font-family: GlobalStyles.$content-text;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.6rem 2rem;
  background-color: GlobalStyles.$primary;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 0.3rem;
  transform: skew(-10deg);
  transition: background-color 200ms linear;
  &:hover {
    background-color: GlobalStyles.$primary_hover;
  }
  span {
    display: inline-block;
    transform: skew(10deg);
  }
}

.static_btn_no_color {
  font-family: GlobalStyles.$content-text;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.6rem 2rem;
  background-color: #f7f7f7;
  color: GlobalStyles.$heading-text-color;
  text-transform: uppercase;
  border: none;
  border-radius: 0.3rem;
  transform: skew(-10deg);
  transition: background-color 200ms linear;
  &:hover {
    background-color: #efefef;
  }
  span {
    display: inline-block;
    transform: skew(10deg);
  }
}
