@import '../../index.module.scss';

.pagination {
  button {
    width: 4rem;
    height: 4rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: $content-text-light-color;
    background-color: #fff;
    border: 0.1rem solid $border-color;
    margin-right: 1rem;
    &:hover {
      border-color: $primary;
      background-color: $primary;
      color: #fff;
    }
  }
  .pagination_left_btn,
  .pagination_right_btn {
    &:disabled {
      cursor: default;
      &:hover {
        border: 0.1rem solid $border-color;
        background-color: #fff;
        color: $content-text-light-color;
      }
    }
    
  }
  .button_active {
    border-color: $primary;
    background-color: $primary;
    color: #fff;
  }
}
