.wrapper {
  .container {
    margin: 0 -1.5rem;
    display: flex;
    .cart_left {
      width: 70%;
      padding: 0 1.5rem;
      .cart_left_list {

      }
    }
    .cart_right {
      width: 30%;
      padding: 0 1.5rem;
    }
  }
}
