@use '~/components/GlobalStyles/GlobalStyles.module.scss';

.breadcrumb_wrapper {
  .breadcrumb_container {
    padding: 3rem 10rem 0;
    display: flex;
    gap: 2rem;
    .breadcrumb_item {
      display: flex;
      justify-content: center;
      align-items: center;
      :hover {
        color: GlobalStyles.$primary_hover;
      }
      &::after {
        content: '>';
        padding: 0 0 0 2rem;
        color: #999;
        font-size: 1rem;
      }
      &:last-child {
        a {
          color: GlobalStyles.$heading-text-color;
          cursor: default;
        }
        &::after {
          content: '';
        }
      }
      a {
        font-size: 1.5rem;
        text-transform: capitalize;
        color: #999;
      }
    }
  }
}
