@import '../../index.module.scss';

@include keyframes(slideOut) {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
}

@include keyframes(slideIn) {
  0% {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.DetailItem_wrapper {
  .DetailItem_container {
    .DetailItem_container_item {
      display: flex;
      margin: 0 -1.5rem;
      .DetailItem_left {
        width: 47%;
        margin: 0 1.5rem;
        .left_main_img {
          height: 60rem;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          // background-color: #f4f4f4;
          padding: 10rem;
          img {
            height: 100%;
            object-fit: cover;
          }
        }
        .left_sub_img {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin-top: 1rem;
          li {
            width: 10rem;
            height: 10rem;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            img {
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
      .DetailItem_right {
        width: 47%;
        margin: 0 1.5rem;
        .item_available {
          display: inline-block;
          font-size: 1rem;
          font-weight: 600;
          line-height: 1.4;
          padding: 0.2rem 0.8rem;
          text-transform: uppercase;
          color: #39b54a;
          position: relative;
          background-color: transparent;
          z-index: 1;
          &::after {
            position: absolute;
            border-radius: 0.3rem;
            top: 0;
            left: 0;
            z-index: -1;
            content: '';
            width: calc(100% - 0.2rem);
            height: calc(100% - 0.2rem);
            transform: skewX(-10deg) scaleX(0.955);
            transform-origin: bottom left;
            transition: all ease 0.3s;
            border: 1px solid transparent;
            background: #e3ffed;
          }
        }
        .item_name {
          font-family: $heading-text;
          font-size: 5rem;
          line-height: 1.2;
          margin-bottom: 1.5rem;
          font-weight: 700;
          text-transform: uppercase;
        }
        .item_after_name {
          display: flex;
          gap: 4rem;
          .item_after_name_content {
            text-transform: capitalize;
            color: $content-text-light-color;
            margin-bottom: 0.7rem;
            a {
              margin-left: 0.5rem;
              text-transform: none;
              color: $heading-text-color;
              text-transform: capitalize;
            }
            &:last-child {
              text-transform: uppercase;
              a {
                text-transform: uppercase;
              }
            }
          }
        }
        .item_price {
          font-family: $content-text-heavy;
          display: flex;
          align-items: flex-end;
          line-height: 1;
          margin-bottom: 2rem;
          .normal_price {
            font-size: 2.5rem;
            color: $content-text-light-color;
            text-decoration: line-through;
          }
          .sale_price {
            font-size: 3rem;
            font-weight: 500;
            color: $green;
            margin-left: 2rem;
          }
        }
        .item_fast_info {
          display: flex;
          align-items: center;
          font-size: 1.6rem;
          margin: 0.5rem 0 1.5rem;
          color: $green;
        }
        .item_deal_sold {
          font-size: 1.3rem;
          font-weight: 600;
          p {
            color: $content-text-light-color;
            margin-bottom: 0.8rem;
            span {
              color: $heading-text-color;
            }
          }
          .deal_sold_progress_bar {
            position: relative;
            width: 100%;
            height: 0.6rem;
            background-color: #ccc;
            border-radius: 1.5rem;
            overflow: hidden;
            .deal_sold_progress_value {
              position: absolute;
              background-color: $primary;
              top: 0;
              left: 0;
              height: 100%;
            }
          }
        }
        .item_btns {
          margin: 3rem 0;
          gap: 2rem;
          display: flex;
          align-items: center;
          .item_btns_form {
            &:last-child{
              flex: 1;
            }
            p {
              font-size: 1.4rem;
              font-weight: 600;
              text-transform: uppercase;
              margin-bottom: 0.5rem;
            }
          }
        }
        .item_category,
        .item_tag {
          font-size: 1.4rem;
          color: $heading-text-color;
          text-transform: capitalize;
          a {
            color: $content-text-light-color;
            &:hover {
              color: $primary;
            }
          }
        }

        .item_share {
          font-size: 1.4rem;
          color: $content-text-color;
          display: flex;
          align-items: center;
          gap: 1.5rem;
          margin-top: 2rem;
          svg {
            font-size: 2rem;
          }
        }
      }
    }
    .DetailItem_container_tabs {
      .tabs {
        margin: 3rem 0 6.5rem 0;
        .tabs_header {
          position: relative;
          margin: 0 0 2.5rem;
          border-bottom: 1px solid #e8e8e8;
          button {
            font-family: $heading-text;
            font-size: 2.5rem;
            font-weight: 600;
            text-transform: uppercase;
            border: none;
            background-color: transparent;
            color: $content-text-light-color;
            padding: 0 3.5rem 2rem;
          }
          .active_btn {
            color: $heading-text-color;
            border-bottom: .3rem solid $primary;
          }
        }
        .tabs_body {
          .description_tab {
            font-size: 1.4rem;
            color: $content-text-color;
          }
          .info_tab {
            table {
              width: 100%;
              border-collapse: collapse;
              tr {
                th,
                td {
                  padding: 1.4rem 2rem;
                  border: 0.1rem solid $border-color;
                  text-align: left;
                  text-transform: capitalize;
                }
              }
            }
          }
          .review_tab {
            .review_tab_item {
              display: flex;
              margin-bottom: 2rem;
              .review_tab_item_img {
                img {
                  width: 5rem;
                  height: 5rem;
                  border-radius: 50%;
                  object-fit: cover;
                  margin-right: 1rem;
                }
              }
              .review_tab_item_comment {
                .comment_rate {
                  font-size: 1.2rem;
                }
                .comment_meta {
                  margin-bottom: 1.4rem;
                  .comment_author {
                    font-size: 1.6rem;
                    color: $heading-text-color;
                    margin-right: 1rem;
                  }
                  .comment_date {
                    font-size: 1.4rem;
                    color: $content-text-color;
                  }
                }
                .comment_text {
                  font-size: 1.4rem;
                  color: $content-text-color;
                  margin-bottom: 1.4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

.DetailItem_popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 1.4rem;
  background-color: #fff;
  transform: translate3d(0, 100%, 0);
  z-index: 9;
  .DetailItem_popup_content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
    font-weight: 600;
    .DetailItem_popup_img {
      margin-right: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        border: 0.1rem solid rgba(0, 0, 0, 0.1);
      }
    }
    .DetailItem_popup_text {
      .DetailItem_popup_text_header {
        font-size: 1.6rem;
        color: $content-text-color;
        margin-bottom: 0.5rem;
        span {
          color: $heading-text-color;
        }
      }
      .DetailItem_popup_text_price {
        p {
          font-size: 1.4rem;
          color: $primary;
          span {
            font-size: 1.2rem;
            color: $content-text-light-color;
            text-decoration: line-through;
            margin-right: 1rem;
          }
        }
      }
    }
    .DetailItem_popup_btn {
      margin-left: auto;
    }
  }
}

.DetailItem_slide_in {
  @include animation('slideOut 300ms linear');
}

.DetailItem_slide_out {
  @include animation('slideIn 300ms linear');
  transform: translate3d(0, 0, 0);
}
