@import '../../index.module.scss';

.wrapper {
  .container {
    // padding: 4rem 10rem;
    margin: 0 -1.5rem;
    display: flex;
    .left_side {
      margin: 0 1.5rem;
      width: 20%;
      .filter_bar {
        .filter_item {
          .header {
            position: relative;
            font-family: $heading-text;
            font-size: 2.5rem;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 2rem;
            p {
              svg {
                path {
                  color: $primary;
                }
              }
            }
            &::after {
              content: ' ';
              position: absolute;
              width: 100%;
              height: 0.4rem;
              bottom: -1.5rem;
              transform: skew(-20deg);
              background-color: $heading-text-color;
            }
          }
          .body {
            margin-top: 5rem;
            .list {
              .item {
                font-size: 1.4rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1rem;
                padding-bottom: 1.5rem;
                border-bottom: 0.1rem solid #e8e8e8;
                color: $content-text-light-color;
                a {
                  text-transform: capitalize;
                  text-align: center;
                  font-weight: 600;
                  color: $content-text-light-color;
                  &::before {
                    content: ' ';
                    display: inline-block;
                    margin-right: 1.2rem;
                    vertical-align: middle;
                    width: 0.6rem;
                    height: 0.6rem;
                    transform: skew(-10deg);
                    background-color: #ccc;
                  }
                  &:hover {
                    color: $heading-text-color;
                    &::before {
                      background-color: $primary;
                    }
                  }
                }
                span {
                }
              }
            }
          }
        }
      }
    }
    .right_side {
      margin: 0 1.5rem;
      width: 80%;
      .right_side_container {
        .right_side_filter {
          margin-bottom: 2rem;
          display: flex;
          .filter_gridlist_sort {
            display: flex;
            gap: 1rem;
            button {
              border: none;
              background-color: #fff;
            }
            .active {
              path {
                color: $primary;
              }
            }
            .filter_sort {
              font-size: 1.4rem;
              color: $content-text-color;
              padding-right: 5rem;
              background-position: 100% center;
              background-size: 10px 10px;
              border: none;
              text-transform: capitalize;
            }
          }
          .result {
            font-size: 1.4rem;
            margin-left: auto;
            display: block;
          }
        }
        .right_side_products {
          margin: 0 -0.5rem;
          flex-wrap: wrap;
          display: flex;
          .right_side_item {
            max-width: 33.3333333333%;
            padding: 0 0.5rem;
            margin-bottom: 1rem;
            .item_block {
              position: relative;
              display: flex;
              flex-direction: column;
              overflow: hidden;
              height: 100%;
              background-color: #efeef1;
              &:hover {
                .item_add_btn {
                  transform: translateY(0rem);
                }
              }
              .item_onsale {
                padding: 0.2rem 0.7rem;
                display: inline-block;
                position: absolute;
                font-weight: 600;
                font-size: 1rem;
                line-height: 1.4rem;
                top: 1rem;
                left: 1rem;
                z-index: 1;
                color: #fff;
                text-transform: uppercase;
                &::after {
                  position: absolute;
                  border-radius: 0.3rem;
                  top: 0;
                  left: 0;
                  z-index: -1;
                  content: '';
                  width: 100%;
                  height: 100%;
                  background-color: #3e62e1;
                  transform: skewX(-10deg);
                }
              }
              .item_img {
                width: 100%;
                img {
                  display: block;
                  margin: 0 auto;
                  width: 100%;
                }
              }
              .item_content {
                display: flex;
                flex-direction: column;
                padding: 0rem 3rem 2.5rem;
                flex: 1;
                .item_brand {
                  display: block;
                  font-size: 1.4rem;
                  color: $content-text-light-color;
                  text-decoration: underline;
                  margin: 0 0 0.4rem;
                  &:hover {
                    color: $primary;
                  }
                }
                .item_name {
                  font-size: 1.5rem;
                  font-weight: 600;
                  color: $heading-text-color;
                  margin: 0 0 0.7rem;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  &:hover {
                    color: $primary;
                  }
                }
                .item_rating {
                  display: flex;
                  align-items: center;
                  margin-top: auto;
                  margin-bottom: 1.3rem;
                  font-size: 1.1rem;
                  color: $content-text-light-color;
                  span {
                    line-height: 2rem;
                  }
                  .item_rating_star {
                    font-size: 1.4rem;
                  }
                  .item_rating_number {
                    margin-left: 1rem;
                    font-size: 1.4rem;
                  }
                }
                .item_price {
                  display: flex;
                  align-items: center;
                  font-family: $content-text-heavy;
                  font-size: 1.6rem;
                  font-weight: 400;
                  .normal_price {
                    color: $heading-text-color;
                  }
                  //using when item sale
                  .is_sale {
                    color: $content-text-light-color;
                    text-decoration: line-through;
                  }
                  .sale_price {
                    display: inline-block;
                    margin-left: 1rem;
                    color: $primary;
                  }
                }
              }
              .item_add_btn {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #000;
                padding: 1.5rem 1rem;
                border: none;
                transform: translateY(6rem);
                transition: all 200ms linear;
                &:hover {
                  background-color: $primary;
                }
                span {
                  font-size: 1.1rem;
                  font-weight: 600;
                  letter-spacing: 0.2rem;
                  line-height: 2.1818181818;
                  color: #fff;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
        .pagination_row {
          margin-top: 3rem;
        }
      }
    }
  }
}
