@import '../../index.module.scss';

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  transition: all 200ms linear;
}
.modal_content {
 position: fixed;
 height: 100vh;
 top: 0;
 z-index: 11;

}

.modal_slide {
  display: none;
}

