@use '~/components/GlobalStyles/GlobalStyles.module.scss';

.wrapper {
  .top_header {
    background-color: #000;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .logo {
      margin-bottom: -1rem;
    }
    .nav_link {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        list-style: none;
        a {
          display: inline-block;
          padding: 3rem;
        }
      }
      .nav_link_default {
        font-family: GlobalStyles.$heading-text;
        font-style: italic;
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        &::after {
          content: '';
          display: inline-block;
          vertical-align: middle;
          margin-left: 0.7rem;
          width: 0.6rem;
          height: 0.6rem;
          background-color: #ccc;
          transform: skewX(-15deg);
        }
        &:hover {
          color: GlobalStyles.$primary;
          &::after {
            background-color: GlobalStyles.$primary;
          }
        }
      }
      .nav_link_selected {
        &::after {
          content: '';
          display: inline-block;
          vertical-align: middle;
          margin-left: 0.7rem;
          width: 0.6rem;
          height: 0.6rem;
          background-color: GlobalStyles.$primary;
          transform: skewX(-15deg);
        }
      }
    }
    .search_bar {
      position: relative;
      width: 20%;
      height: 40%;
      font-family: GlobalStyles.$content-text;
      font-size: 1.4rem;
      border-radius: 0.3rem;
      transform: skewX(-10deg);
      // overflow: hidden;
      background-color: #fff;
      input {
        padding: 0 2rem;
        width: 80%;
        height: 100%;
        border: none;
        outline: none;
        border-top-left-radius: .3rem;
        border-bottom-left-radius: .3rem;
        // &:focus {
        //   .search_bar {
        //     border: 3px solid #f65000;
        //   }
        // }
      }
      button {
        width: 20%;
        height: 100%;
        border: none;
        background-color: transparent;
        transform: skewX(10deg);
      }
    }
    .user_group {
      display: flex;
      gap: 2rem;
      svg {
        path {
          color: #fff;
        }
        &:hover {
          path {
            color: GlobalStyles.$primary;
          }
        }
      }
      .user_account {
        button {
          cursor: pointer;
          background-color: transparent;
          border: none;
          svg {
            margin-right: 1rem;
          }
          span {
            font-family: GlobalStyles.$content-text;
            color: #888;
          }
        }
        &:hover {
          span {
            text-decoration: underline;
          }
          span,
          svg > path {
            color: GlobalStyles.$primary;
          }
        }
      }
      .love {
        position: relative;
        cursor: pointer;
        .circle {
          display: inline-block;
          position: absolute;
          min-width: 14px;
          padding: 2.5px 0;
          line-height: 1;
          font-size: 10px;
          font-weight: 700;
          text-align: center;
          bottom: -4px;
          left: 10px;
          letter-spacing: 0;
          border-radius: 50%;
          color: #fff;
          background-color: GlobalStyles.$primary;
        }
      }
      .cart {
        position: relative;
        cursor: pointer;
        .circle {
          display: inline-block;
          position: absolute;
          min-width: 14px;
          padding: 2.5px 0;
          line-height: 1;
          font-size: 10px;
          font-weight: 700;
          text-align: center;
          bottom: -4px;
          left: 10px;
          letter-spacing: 0;
          border-radius: 50%;
          color: #fff;
          background-color: GlobalStyles.$primary;
        }
      }
    }
  }
  .bot_header {
    font-family: GlobalStyles.$content-text;
    position: relative;
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .bot_header_overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: GlobalStyles.$primary;
      opacity: 0.15;
      z-index: -1;
    }
    .container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 25rem;
      .content {
        svg {
          margin-right: 1rem;
          path {
            color: GlobalStyles.$primary;
          }
        }
        span {
          font-size: 1.4rem;
          font-weight: 600;
        }
        &:hover {
          svg {
            transform: scale(0.7);
          }
        }
        &:nth-child(2) {
          position: relative;
          &::before {
            content: '';
            position: absolute;
            top: 0.2rem;
            left: -10rem;
            width: 0.1rem;
            height: 2rem;
            background-color: #000;
          }
          &::after {
            content: '';
            position: absolute;
            top: 0.2rem;
            right: -10rem;
            width: 0.01rem;
            height: 2rem;
            background-color: #000;
          }
        }
      }
    }
  }
}
