@use '~/components/GlobalStyles/GlobalStyles.module.scss';

.wrapper {
  .container {
    background-color: GlobalStyles.$heading-text-color;
    color: #fff;
    .news {
      padding: 6rem 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-bottom: 0.1rem solid #e8e8e821;
      h2 {
        font-weight: 700;
        text-transform: uppercase;
        svg {
          path {
            color: GlobalStyles.$primary;
          }
        }
      }
      p {
        font-size: 1.4rem;
        padding: 1rem 0 2.5rem;
        color: GlobalStyles.$content-text-light-color;
      }
      .email {
        position: relative;
        background-color: #fff;
        width: 65rem;
        height: 4.5rem;
        transform: skew(-10deg);
        border-radius: 0.3rem;
        display: flex;
        background-color: transparent;
        z-index: 1;
        &::after {
          background-color: #fff;
          position: absolute;
          border-radius: 3px;
          top: 0;
          left: 0;
          z-index: -1;
          content: '';
          width: calc(100% - 2px);
          height: calc(100% - 2px);
          transform: skewX(-10deg) scaleX(0.955);
          transform-origin: bottom left;
          transition: all ease 0.3s;
          border: 1px solid transparent;
        }
        input {
          width: 80%;
          height: 100%;
          font-size: 1.2rem;
          padding: 0 2.5rem;
          border: none;
          background-color: transparent;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .all_links {
      padding: 6rem 3rem 5.5rem;
      .row {
        display: flex;
        justify-content: center;
        margin: 0 -1.5rem;
        .col_2_4 {
          width: 15%;
          text-transform: capitalize;
          margin: 0 1.5rem;
          font-size: 1.4rem;
          p {
            margin-bottom: 1.5rem;
            font-weight: 600;
          }
          ul {
            li {
              list-style: none;
              margin-bottom: 1rem;
              color: GlobalStyles.$content-text-light-color;
              cursor: pointer;
              &:hover {
                color: GlobalStyles.$primary_hover;
              }
            }
          }
        }
      }
    }
    .contacts {
      padding: 0 3rem;
      border: 0.1rem solid #e8e8e821;
      .row {
        display: flex;
        .col_4 {
          width: 33.33%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 25px 15px 30px;
          &:nth-child(2) {
            border-left: 0.1rem solid #e8e8e821;
            border-right: 0.1rem solid #e8e8e821;
          }
          p {
            font-size: 1.2rem;
            font-weight: 700;
            color: GlobalStyles.$content-text-light-color;
            text-transform: uppercase;
            margin-bottom: 1.5rem;
          }
          ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.3rem;
            li {
              width: 4rem;
              height: 4rem;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              background-color: #545454;
              transition: all 200ms linear;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
              }
              &:hover {
                background-color: GlobalStyles.$primary_hover;
                svg {
                  path {
                    color: #fff;
                  }
                }
              }
              svg {
                path {
                }
              }
            }
          }
        }
      }
    }
    .copyright {
      padding: 3.5rem 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      color: GlobalStyles.$content-text-light-color;
      p {
        a {
          color: #fff;
        }
      }
    }
  }
}
