@import '../../index.module.scss';

.notfound404_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .notfound404_img {
  }
  .notfound404_text {
    h1 {
      font-family: $heading-text;
      font-size: 5rem;
      margin-bottom: 2rem;
      word-spacing: -0.5rem;
    }
    p {
      font-size: 1.4rem;
      color: $content-text-color;
      text-align: center;
    }
    a {
      color: $primary;
      &:hover {
        color: $content-text-color;
      }
    }
  }
}



// Typing animation
// @keyframes run {
//   0%, 100% {
//     transform: translateX(2%);
//   }
//   50% {
//     transform: translateX(-100%);
//   }
// }

// .typing_text {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   h1 {
//     position: relative;
//     display: inline-block;
//     &::after {
//       content: '';
//       position: absolute;
//       width: calc(100% - 19rem);
//       height: 100%;
//       background-color: #fff;
//       @include animation('run 3000ms infinite');
//       border-left: 0.5rem solid $primary;
//     }
//   }
// }
